	@import url('https://fonts.googleapis.com/css?family=Roboto');
	
	/*body 초기화*/ 
	body > .index{
	  margin: 0;
	  padding: 0;
	  font-family: "Roboto", serif;
	  display: flex;
	  flex-flow: column nowrap;
	  justify-content: center;
	  align-items: center;
	  overflow-x: hidden;  
	}
	
	.index h1 {
	  margin: 2em 0 1.5em 0;
	  font-family: 'Hanna';
	}
	
	.index nav {
	  width: 100%;
	  display: flex;
	  justify-content: center;
	  position: relative;
/* 	  background: linear-gradient(90deg, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
	  background: linear-gradient(90deg, #051937, #004d7a, #008793);
	}
	
	.index ul, li {
	  margin: 0;
	  padding: 0;
	  list-style: none;
	}
	
	.index #main-menu > li {
	  float: left;
	  position: relative;
	}
	
	.index #main-menu > li > a {
	  font-size: 1.25rem;
	  color: rgba(255,255,255,0.85);
	  text-align: center;
	  text-decoration: none;
	  letter-spacing: 0.05em;
	  display: block;
	  padding: 14px 36px;
	  border-right: 1px solid rgba(0,0,0,0.15);
	  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	}
	
	.index #main-menu > li:nth-child(1) > a {
	  border-left: 1px solid rgba(0,0,0,0.15);
	}
	
	.index #sub-menu {
	  position: absolute;
	  /* background: #182952; */
	  background: #004d7a;
	  opacity: 0;
	  visibility: hidden;
	  transition: all 0.15s ease-in;
	}
	
	.index #sub-menu > li {
	  padding: 16px 28px;
	  border-bottom: 1px solid rgba(0,0,0,0.15);
	}
	
	.index #sub-menu > li >  a {
	  color: rgba(255,255,255,0.6);
	  text-decoration: none;
	}
	
	.index #main-menu > li:hover #sub-menu {
	  opacity: 1;
	  visibility: visible;
	}
	
	.index #sub-menu > li >  a:hover {
	 text-decoration: underline;
	}
	
	.index section {
	  column-width: 15em;
	  background: #dadadf;
	  padding: 2em 12em;
	}